@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-italic-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fira-sans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1400px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 35px;
}

.main-container {
  flex-grow: 1;
}

.title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #293449;
}

.button {
  display: inline-flex;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-green {
  padding: 11px 10px;
  color: #ffffff;
  background-color: #63a63e;
}

.button-green:hover {
  background-color: #5fbb2d;
}

.button-green:active {
  background-color: #518534;
}

.button-red {
  padding: 13px;
  color: #ffffff;
  background-color: #ee3643;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.button-additional {
  padding: 9px 7px;
  color: #32425C;
  background-color: transparent;
  border: 2px solid #63a63e;
}

.button-additional:hover {
  color: #32425c;
  border-color: #3d546f;
}

.button-additional:active {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.header {
  background-color: #f3f7f9;
}

.header-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 11px;
  padding-bottom: 13px;
}

.header-title {
  min-width: 490px;
  margin: 0;
}

.header-title-text {
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: #EE3643;
}

.header-address {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 399px;
  margin-left: auto;
}

.header-address-text {
  min-width: 191px;
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
}

.header-address-phone {
  display: block;
  min-width: 188px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 700;
  color: #293449;
  background-image: url("../images/icons/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.header-middle {
  color: #ffffff;
  background-color: #293449;
}

.header-middle-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 45px;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  z-index: 1;
}

.header-search {
  flex-grow: 1;
  min-width: 600px;
}

.header-search-wrapper {
  display: flex;
  width: 100%;
}

.header-search-icon {
  opacity: 0.3;
  color: #dadada;
}

.header-search-label {
  flex-grow: 1;
}

.header-search-input {
  width: 300px;
  border: none;
  padding: 0;
  background-color: #293449;
}

.header-search-input::placeholder {
  opacity: 0;
}

.header-search-wrapper:focus-within .header-search-label {
  opacity: 0.2;
  background-color: #b52933;
}

.header-search-wrapper:focus-within .header-search-input {
  width: 100%;
  flex-grow: 1;
  background-color: #f1f5f7;
  outline: none;
}

.header-search-wrapper:focus-within .header-search-input::placeholder {
  opacity: 1;
}

.personal-account-login-wrapper {
  display: none;
  position: relative;
}

.personal-account-login-wrapper.current {
  display: flex;
}

.personal-account-login-button {
  font-weight: 700;
  font-size: 14px;
  color: #f1f5f7;
  background-color: transparent;
  border: none;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.personal-account-dropdown {
  display: none;
  position: absolute;
  width: 360px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.personal-account-login-wrapper:focus-within .personal-account-current {
  display: block;
}

.personal-account-active {
  display: none;
}

.personal-account-active.current {
  display: flex;
}

.personal-account-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.personal-account-control-label {
  font-size: 14px;
  line-height: 18px;
}

.personal-account-recover-password {
  font-size: 14px;
  line-height: 18px;
}

.personal-account-success-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3D546F;
}

.personal-account-profile {
  padding-left: 18px;
  color: #f1f5f7;
  text-decoration: none;
}

.personal-account-profile::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 0.8;
  background-image: url("../images/icons/silhouette-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.personal-account-deauthorization {
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/enter-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.header-bottom {
  background-color: #3D546F;
}

.header-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-navigation {
  min-width: 800px;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -21px;
  padding: 0;
  list-style-type: none;
}

.main-navigation-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 21px 22px 24px 26px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation-link:not(.main-navigation-link-current):hover {
  background-color: #32425C;
}

.main-navigation-link:not(.main-navigation-link-current):active {
  text-shadow: 0 0 0.8px #ffffff, 0 0 0.8px #ffffff;
  color: #ffffff;
  background-color: #32425C;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 120px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-navigation-link {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-favorites {
  background-image: url("../images/icons/favorites-icon.svg");
}

.user-navigation-cart {
  background-image: url("../images/icons/cart-icon.svg");
}

.order-button {
  width: 170px;
}

.main-index {
  padding-top: 52px;
}

.hero {
  margin-bottom: 50px;
}

.catalog {
  margin-bottom: 27px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  gap: 30px;
}

.hero-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 135px 33px 25px;
  background-repeat: no-repeat;
  background-position: right 37px top 45px;
  overflow: hidden;
}

.new::before {
  position: absolute;
  top: 8px;
  right: -27px;
  content: "new";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  transform: rotate(45deg);
  z-index: 3;
}

.catalog-item-materials {
  background-color: #ffbf47;
  background-image: url("../images/catalog-materials.svg");
}

.catalog-item-tool {
  background-color: #3bbce3;
  background-image: url("../images/catalog-tool.svg");
}

.catalog-item-equipment {
  background-color: #dc91d8;
  background-image: url("../images/catalog-equipment.svg");
}

.hero-title {
  margin: 0 0 57px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-link {
  width: 180px;
  margin-top: auto;
  padding: 8px 11px 11px 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.hero-link::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-image: url(../images/icons/arrow-icon.svg);
  background-position: center top 3px;
  background-repeat: no-repeat;
}

.hero-link:hover {
  opacity: 0.6;
}

.hero-link:active {
  opacity: 0.3;
}

.gallery-offers-wrapper {
  display: grid;
  grid-template-columns: 770px 370px;
  gap: 30px;
  align-items: start;
}

.gallery {
  position: relative;
  color: #ffffff;
  background-color: #3d546f;
}

.gallery-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery-item {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  min-height: 390px;
  padding: 50px 500px 40px 50px;
}

.gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.gallery-item-current {
  display: flex;
}

.gallery-subtitle {
  position: relative;
  z-index: 1;
  margin: 0 0 5px 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.gallery-text {
  position: relative;
  margin: 0 0 0 0;
  z-index: 1;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.gallery-text:last-of-type {
  margin-bottom: auto;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-link {
  position: relative;
  z-index: 1;
  margin-top: 130px;
  padding: 13px 23px 14px 23px;
}

.gallery-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  bottom: 160px;
  left: 20px;
  right: 20px;
}

.gallery-button {
  width: 50px;
  height: 50px;
  background-color: rgba(41, 52, 73, 0.6);
  background-image: url(../images/icons/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.gallery-prev {
  transform: rotate(180deg);
}

.gallery-button:hover {
  opacity: 0.6;
}

.gallery-button:active {
  opacity: 0.3;
}

.gallery-pagination {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 700px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery-pagination-button {
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 209, 128, 0.8);
}

.gallery-pagination-button-current {
  background-color: #ffffff;
}

.offers-list {
  display: grid;
  grid-template-columns: 370px;
  gap: 29px;
}

.offers-item-discounts {
  background-color: #8ed78f;
  background-image: url("../images/offers-discounts.svg");
}

.offers-item-delivery {
  background-color: #ffbf47;
  background-image: url("../images/offers-delivery.svg");
}

.products {
  padding-bottom: 53px;
}

.products-title {
  margin: 0 0 26px 0;
}

.products-content {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 74px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-price {
  margin-bottom: 40px;
}

.filter-title {
  padding: 0;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter-title-price {
  margin-bottom: 8px;
}

.filter-range {
  width: 220px;
  padding: 19px 20px;
  margin-bottom: 7px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.filter-range-scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #3d546f;
}

.filter-range-bar {
  position: absolute;
  top: 0;
  left: 9px;
  width: 71px;
  height: 2px;
  background-color: #5fbb2d;
}

.price-toggle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #3d546f;
  border-radius: 50%;
  cursor: pointer;
}

.price-toggle-min {
  left: -10px;
}

.price-toggle-max {
  right: -10px;
}

.price-toggle:hover {
  background-color: #518534;
}

.price-toggle:active {
  background-color: #5fbb2d;
}


.filter-price-inputs {
  display: flex;
  flex-wrap: wrap;
}

.price-input {
  display: inline-flex;
  width: 95px;
  padding: 11px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #293449;
  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.price-input:hover {
  outline: 2px solid #63a63e;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.price-input-dash {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.filter-group-companies {
  margin-bottom: 44px;
}

.filter-title-companies {
  margin-bottom: 16px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item:not(:last-child) {
  margin-bottom: 19px;
}

.filter-control {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.control-mark-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  color: #ffffff;
  border: 2px solid #3d546f;
  border-radius: 2px;
  cursor: pointer;
}

.control-label {
  max-width: 184px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
}

.checkbox-input:checked + .control-mark-checkbox {
  color: #3d546f;
}

.filter-control:hover .control-mark-checkbox {
  border-color: rgba(50, 66, 92, 0.6);
}

.checkbox-input:focus-visible + .control-mark-checkbox {
  border-color: #63a63e;
}

@supports not selector(:focus-visible) {
  .checkbox-input:focus + .control-mark-checkbox {
    border-color: #63a63e;
  }
}

.checkbox-input:checked:focus-visible + .control-mark-checkbox {
  color: #63a63e;
}

@supports not selector(:focus-visible) {
  .checkbox-input:checked:focus + .control-mark-checkbox {
    color: #63a63e;
  }
}

.filter-control:hover .checkbox-input:checked + .control-mark-checkbox {
  color: rgba(50, 66, 92, 0.6);
}

.checkbox-input:disabled + .control-mark-checkbox {
  border-color:  rgba(50, 66, 92, 0.2);
  cursor: auto;
}

.checkbox-input:disabled.checkbox-input:checked + .control-mark-checkbox {
  color: rgba(50, 66, 92, 0.2);
}

.checkbox-input:disabled ~ .control-label {
  opacity: 0.4;
  cursor: auto;
}

.filter-group-power {
  margin-left: 5px;
  margin-bottom: 43px;
}

.filter-title-power {
  margin-bottom: 18px;
}

.control-mark-radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 2px solid #3d546f;
  border-radius: 50%;
  cursor: pointer;
}

.radio-input + .control-mark-radio::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
}

.radio-input:checked + .control-mark-radio::before {
  background-color: #3d546f;
}

/* Нет состояния hover для радиокнопок, так как в макете явно указано, что при наведении элемент не изменяется */

.radio-input:focus-visible + .control-mark-radio {
  border-color: #63a63e;
}

@supports not selector(:focus-visible) {
  .radio-input:focus + .control-mark-radio {
    border-color: #63a63e;
  }
}

.radio-input:checked:focus-visible + .control-mark-radio::before {
  background-color: #63a63e;
}

@supports not selector(:focus-visible) {
  .radio-input:checked:focus + .control-mark-radio::before {
    background-color: #63a63e;
  }
}

.radio-input:disabled ~ .control-label {
  opacity: 0.4;
  cursor: auto;
}

.radio-input:disabled + .control-mark-radio {
  cursor: auto;
}

.filter-button {
  width: 100%;
  border-color: #3d546f;
  border-radius: 2px;
}

.filter-button:hover {
  opacity: 0.6;
}

.products-right-column {
  padding-top: 30px;
}

.products-select {
  min-width: 280px;
  max-width: 860px;
  margin: 0 0 31px 5px;
  padding: 8px 30px 7px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  background-color: transparent;
  border: 1px solid #3d546f;
  border-radius: 2px;
  appearance: none;
  background-image: url("../images/icons/arrow-down-icon.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  cursor: pointer;
}

.products-select:hover {
  border-color: #63a63e;
}

.products-select:focus {
  outline: 1px solid #ffbf47;
  border-color: #63a63e;
  background-image: url("../images/icons/arrow-green-icon.svg");
  background-position: right 11px center;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 29px 33px;
  margin: 0 0 32px 0;
  padding: 0;
  list-style-type: none;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 63px 27px 24px 27px;
  background-color: #ffffff;
  overflow: hidden;
}

.product-item:hover,
.product-item:focus-within {
  filter: drop-shadow(0 4px 13px rgba(0, 0, 0, 0.25));
}

.product-item.new::before {
  top: 11px;
  right: -28px;
  padding: 4px 4px 0 0;
}

.product-photo {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
}

.product-photo::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 99%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.product-item:hover .product-photo::before,
.product-item:focus-within .product-photo::before {
  display: block;
}

.product-button {
  min-width: 135px;
  pointer-events: none;
  opacity: 0;
  order: -1;
  margin-right: 7px;
}

.product-button-order {
  padding-left: 28px;
  background-image: url("../images/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: left 23px top 13px;
  background-size: 14px 14px;
  border-radius: 0;
}

.product-item:hover .product-button,
.product-item:focus-within .product-button {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

.product-button:not(:last-of-type) {
  margin-bottom: 11px;
}

.product-button:last-of-type {
  margin-bottom: 68px;
}

.product-title {
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #293449;
}

.product-price-without-discount {
  margin: 0 0 11px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #a9a9a9;
}

.product-price {
  position: relative;
  min-width: 123px;
  max-width: 170px;
  margin: auto 15px 0 0;
  padding: 11px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 4px;
}

.product-price:not(:last-of-type) {
  margin-bottom: 20px;
}

.product-price::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -12px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #ee3643;
  transform: rotate(45deg);
}

.product-price:hover {
  background-color: #ca2c37;;
}

.product-price:hover::after  {
  background-color: #ca2c37;;
}

.product-price:active {
  background-color: #ba2732;
}

.product-price:active::after  {
  background-color: #ba2732;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: flex-start;
  padding-left: 222px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-width: 224px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  padding: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: #3d546f;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link-current {
  color: #3d546f;
  background-color: transparent;
}

.pagination-button {
  min-width: 195px;
}

.services {
  padding: 52px 0 53px 0;
  background-color: #f4f7f9;
}

.services-title {
  margin: 0 0 30px 0;
  text-align: center;
}

.services-text {
  width: 556px;
  margin: 0 auto 64px auto;
  font-size: 18px;
  line-height: 24px;
  color: #293449;
  text-align: center;
}

.services-text:not(:last-of-type) {
  margin-bottom: 10px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  position: relative;
  padding: 160px 31px 50px 32px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.services-item-delivery {
  padding-right: 35px;
}

.services-item::before {
  display: inline-flex;
  content: "";
  position: absolute;
  top: 23px;
  left: 33px;
  width: 90px;
  height: 90px;
  background-color: #ca2c37;
  -webkit-mask-position: left top;
  -webkit-mask-repeat: no-repeat;
  mask-position: left top;
  mask-repeat: no-repeat;
}

.services-item-delivery::before {
  -webkit-mask-image: url("../images/offers-delivery.svg");
  mask-image: url("../images/offers-delivery.svg");
}

.services-item-warranty::before {
  -webkit-mask-image: url("../images/offers-discounts.svg");
  mask-image: url("../images/offers-discounts.svg");
}

.services-item-credit::before {
  -webkit-mask-image: url("../images/catalog-materials.svg");
  mask-image: url("../images/catalog-materials.svg");
}

.services-subtitle {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.services-description {
  margin: 0;
  color: #000000;
}

.services-description:not(:last-child) {
  margin-bottom: 5px;
}

.about-us-contacts-wrapper {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 169px;
  padding-top: 52px;
  padding-bottom: 49px;
}

.about-us-title {
  margin: 0 0 23px 0;
}

.about-us-text {
  margin: 0 0 25px 0;
}

.about-us-text:last-of-type {
  margin: 0 0 51px 0;
}

.about-us-button {
  min-width: 195px;
  border-radius: 2px;
}

.contacts-title {
  margin: 0 0 23px 0;
}

.contacts-text {
  margin: 0 0 25px 0;
}

.contacts-text:last-of-type {
  margin: 0 0 31px 0;
}

.contacts-map-link {
  display: inline-flex;
  margin-bottom: 30px;
}

.contacts-map-link:last-of-type {
  margin-bottom: 0;
}

.contacts-map-link:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.contacts-map-link:active {
  opacity: 0.6;
}

.footer {
  margin-top: auto;
  background-color: #32425c;;
}
